# Mengabaikan semua folder node_modules di manapun posisinya
node_modules/

# Mengabaikan file konfigurasi rahasia
.env
.env.local

# Mengabaikan file log dan temporary sampah
*.log

# Mengabaikan output build frontend
dist/
build/